.content {
    padding: 90px 15px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.filterArea {
    display: inline-block;
}

.slider {
    margin-right: 20px;
}